* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

.header {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  background-color: white;
}

.header h1 {
  display: inline-flexbox;
  font-size: 48px;
}

.header img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-position: center center;
  background-repeat: repeat;
  background-attachment: fixed;
  height: 600px;
  font-family: 'Metrophobic', sans-serif;
  background-position: top center;
  background-size: cover;
}
